<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMS STATUS</title>
</head>
<body style="background-color:black;">

    <br>
    <br>
    <p>
        <style>
        h1 {
          display: block;
          font-size: 2em;
          margin-top: 0.67em;
          margin-bottom: 0.67em;
          margin-left: 0;
          margin-right: 0;
          font-weight: bold;
          color: white;
          text-align:center;
        }
        </style>

    <h1>The Twilio SMS Server is Running!</h1></p>
</body>
</html>
